<section class="customers">
    <div class="container">
        <h2 class="container__title">What our Customers Say</h2>
        <p class="container__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <ul class="feedback container__feedback link">
            <li class="feedback__item">
                <div class="feedback__rating">
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                </div>
                <p class="feedback__text">“The Best app I have used to order food in a while, so many options to choose
                    from
                    too, I would recommend to a freind, No questions asked”</p>
                <div class="feedback__contact">
                    <svg class="feedback__contact-icon" width="48" height="48">
                        <use href=""></use>
                    </svg>
                    <div class="feedback__contact-wrap">
                        <p class="feedback_name">Sumith Shah</p>
                        <p class="feedback__status">Some Dude</p>
                    </div>
                </div>
            </li>
            <li class="feedback__item">
                <div class="feedback__rating">
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                    <svg class="feedback__rating-icon" width="17" height="16">
                        <use href=""></use>
                    </svg>
                </div>
                <p class="feedback__text">“The ease with which I can just go in and order what i want was amazing, It
                    has been a
                    very pleasant experience ordering from this app”</p>
                <div class="feedback__contact">
                    <svg class="feedback__contact-icon" width="48" height="48">
                        <use href=""></use>
                    </svg>
                    <div class="feedback__contact-wrap">
                        <p class="feedback__name">Sumith Shah</p>
                        <p class="feedback__status">Some Dude</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>