<section class="favorites">
<div class="container favorites__conteiner">
<h2 class="favorites__name">Some of Our<br class="br"> Favorites</h2>
<p class="favorites__paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="favorites__list">
        <li class="favorites__items">
            <picture class="favorites-picture">
                                <source
                                        srcset="./images/favorites-img/gamburger-mobile-x1.jpg 1x, ./images/favorites-img/gamburger-mobile-x2.jpg 2x"
                                        media="(max-width: 767px)">
                                
                                    <img src="./images/favorites-img/gamburger-mobile-x1.jpg" alt="Gamburger">
                                </picture>
         </li>
        <li class="favorites__items">
         <picture class="favorites-picture">
                                <source
                                        srcset="./images/favorites-img/pasta-mobile-x1.jpg 1x, ./images/favorites-img/pasta-mobile-x2.jpg 2x"
                                        media="(max-width: 767px)">
                                
                                    <img src="./images/favorites-img/gamburger-mobile-x1.jpg" alt="Gamburger">
                                </picture>
        </li>
        <li class="favorites__items">
            <picture class="favorites-picture">
                                <source
                                        srcset="./images/favorites-img/pizza-mobile-x1.jpg 1x, ./images/favorites-img/pizza-mobile-x2.jpg 2x"
                                        media="(max-width: 767px)">
                                
                                    <img src="./images/favorites-img/gamburger-mobile-x1.jpg" alt="Gamburger">
                                </picture>
        </li>
    </ul>
</div>
</section>
