<section class="section">
  <div class="container favorites__conteiner">
    <h2 class="section__title">Some of Our Favorites</h2>
    <p class="favorites__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <ul class="favorites__list">
      <li class="favorites__items">
        <picture class="favorites-picture">
          <source
            srcset="./images/favorites-img/gamburger-mobile-x1.jpg 1x, ./images/favorites-img/gamburger-mobile-x2.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/favorites-img/gamburger-mobile-x1.jpg" alt="Gamburger">
        </picture>
      </li>
      <li class="favorites__items">
        <picture class="favorites-picture">
          <source srcset="./images/favorites-img/pasta-mobile-x1.jpg 1x, ./images/favorites-img/pasta-mobile-x2.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/favorites-img/pasta-mobile-x1.jpg" alt="Pasta">
        </picture>
      </li>
      <li class="favorites__items">
        <picture class="favorites-picture">
          <source srcset="./images/favorites-img/pizza-mobile-x1.jpg 1x, ./images/favorites-img/pizza-mobile-x2.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/favorites-img/pizza-mobile-x1.jpg" alt="Pizza">
        </picture>
      </li>
      <li class="favorites__items favorites__items--hide">
        <picture class="favorites__picture">
          <source
            srcset="./images/favorites-img/chicken-tablet-x1.jpg 1x, ./images/favorites-img/chicken-tablet-x2.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/favorites-img/chicken-tablet-x1.jpg" alt="Chicken">
        </picture>
      </li>
      <li class="favorites__items favorites__items--hide">
        <picture class="favorites-picture">
          <source srcset="./images/favorites-img/salat-tablet-x1.jpg 1x, ./images/favorites-img/salat-tablet-x2.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/favorites-img/salat-tablet-x1.jpg" alt="salat">
        </picture>
      </li>
      <li class="favorites__items favorites__items--hide">
        <picture class="favorites__picture">
          <source
            srcset="./images/favorites-img/borshch-tablet-x1.jpg 1x, ./images/favorites-img/borshch-tablet-x2.jpg 2x"
            media="(max-width: 767px)">

          <img src="./images/favorites-img/borshch-tablet-x1.jpg" alt="borshch">
        </picture>
      </li>
    </ul>
  </div>
</section>