<footer class="footer section">
  <div class="footer__container container">
    <div class="footer__top">
      <a href="./index.html" class="footer__logo logo">
        <svg width="69" height="51">
          <use href="./images/icons.svg#icon-logo-1"></use>
        </svg>
      </a>

      <ul class="footer__nav nav">
        <li class="nav__item nav__item--current">
          <a href="./index.html" class="nav__link">Home</a>
        </li>
        <li class="nav__item"><a href="" class="nav__link">About</a></li>
        <li class="nav__item"><a href="" class="nav__link">Service</a></li>
        <li class="nav__item"><a href="" class="nav__link">Menu</a></li>
        <li class="nav__item"><a href="" class="nav__link">Contact</a></li>
      </ul>
    </div>

    <div class="footer__subscribe footer-subscribe">
      <p class="footer-subscribe__title">Subscribe</p>
      <form class="footer-subscribe__form form-subscribe" action="">
        <input class="form-subscribe__input" type="text" />
        <button class="form-subscribe__btn" type="submit">Subscribe</button>
      </form>
      <p class="footer-subscribe__privacy">
        By subscribing you agree to with our <a href="">Privacy Policy</a>
      </p>
    </div>

    <div class="footer__bottom terms">
      <ul class="terms__list">
        <li class="terms__item"><a href="terms__link">Privacy Policy</a></li>
        <li class="terms__item"><a href="terms__link">Terms of Service</a></li>
        <li class="terms__item"><a href="terms__link">Cookies Settings</a></li>
      </ul>
      <p class="terms__copy">2022 FoodSta. All right reserved.</p>
    </div>
  </div>
</footer>
