<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      type="button"
      class="close-button"
      aria-label="Close"
      data-modal-close
    >
      <svg width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="order-form" name="form" autocomplete="off">
      <p class="order-form__title">Order Form</p>
      <div class="order-form__field">
        <label for="name" class="order-form__label">Name</label>
        <input
          type="text"
          class="order-form__input"
          name="name"
          id="name"
          placeholder="Your name"
          minlength="3"
          maxlength="25"
        />
        <div class="order-form__required">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="required-text">This field is required</span>
        </div>
        <div class="order-form__error">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="error-text"
            >The name must be between 3 and 25 characters</span
          >
        </div>
      </div>
      <div class="order-form__field">
        <label class="order-form__label" for="phone">Phone number</label>
        <input
          type="tel"
          class="order-form__input"
          name="phone"
          id="phone"
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
        />
        <div class="order-form__required">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="required-text">This field is required</span>
        </div>
        <div class="order-form__error">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="error-text"
            >This phone must be in the format 099 000 00 00</span
          >
        </div>
      </div>
      <div class="order-form__field">
        <label class="order-form__label" for="email">E-mail</label>
        <input
          type="email"
          class="order-form__input"
          name="email"
          id="email"
          placeholder="example@gmail.com"
        />
        <div class="order-form__required">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="required-text">This field is required</span>
        </div>
        <div class="order-form__error">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="error-text">Please enter a valid email address</span>
        </div>
      </div>
      <button type="submit" name="submit-button" class="send-button">
        Send
      </button>
    </form>
  </div>
</div>

<script>
  const form = document.querySelector("form[name='form']");
  const nameInput = document.querySelector("input[name='name']");
  const emailInput = document.querySelector("input[name='email']");
  const phoneInput = document.querySelector("input[name='phone']");
  const submitBtn = document.querySelector("button[name='submit-button']");

  nameInput.isValid = () => !!nameInput.value;
  emailInput.isValid = () => isValidEmail(emailInput.value);
  phoneInput.isValid = () => isValidPhone(phoneInput.value);

  const inputFields = [nameInput, emailInput, phoneInput];

  const isValidEmail = email => {
    const re =
      /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return re.test(String(email).toLowerCase());
  };

  const isValidPhone = phone => {
    const re = /^[\+]?[(]?[0-9]{3}[)]?[-\s\.]?[0-9]{3}[-\s\.]?[0-9]{4,6}$/im;
    return re.test(String(phone).toLowerCase());
  };

  let shouldValidate = false;
  let isFormValid = false;

  const validateInputs = () => {
    if (!shouldValidate) return;

    isFormValid = true;
    inputFields.forEach(input => {
      input.classList.add('valid');
      input.nextElementSibling.classList.remove('required');
      submitBtn.classList.add('enabled');

      if (!input.isValid()) {
        input.classList.add('invalid');
        isFormValid = false;
        input.nextElementSibling.classList.add('required');
        submitBtn.classList.remove('enabled');
        submitBtn.classList.add('disabled');
      }
    });
  };

  form.addEventListener('submit', e => {
    e.preventDefault();
    shouldValidate = true;
    validateInputs();
    if (isFormValid) {
      // TODO: DO AJAX REQUEST
    }
  });

  inputFields.forEach(input => input.addEventListener('input', validateInputs));
</script>

<script>
  [].forEach.call(document.querySelectorAll('input'), function (input) {
    let keyCode;
    function mask(event) {
      event.keyCode && (keyCode = event.keyCode);
      let pos = this.selectionStart;
      if (pos < 3) event.preventDefault();
      let matrix = '+38 (0__) ___-__-__',
        i = 0,
        def = matrix.replace(/\D/g, ''),
        val = this.value.replace(/\D/g, ''),
        newValue = matrix.replace(/[_\d]/g, function (a) {
          return i < val.length ? val.charAt(i++) || def.charAt(i) : a;
        });
      i = newValue.indexOf('_');
      if (i != -1) {
        i < 5 && (i = 3);
        newValue = newValue.slice(0, i);
      }
      let reg = matrix
        .substr(0, this.value.length)
        .replace(/_+/g, function (a) {
          return '\\d{1,' + a.length + '}';
        })
        .replace(/[+()]/g, '\\$&');
      reg = new RegExp('^' + reg + '$');
      if (
        !reg.test(this.value) ||
        this.value.length < 5 ||
        (keyCode > 47 && keyCode < 58)
      )
        this.value = newValue;
      if (event.type == 'blur' && this.value.length < 5) this.value = '';
    }

    input.addEventListener('input', mask, false);
    input.addEventListener('focus', mask, false);
    input.addEventListener('blur', mask, false);
    input.addEventListener('keydown', mask, false);
  });
</script>
