<div class="backdrop is-hidden" data-modal>
  <div class="modal">
    <button
      type="button"
      class="close-button"
      aria-label="Close"
      data-modal-close
    >
      <svg width="24" height="24">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <form class="order-form" autocomplete="off" novalidate>
      <p class="order-form__title">Order Form</p>
      <div class="order-form__field">
        <label for="name" class="order-form__label">Name</label>
        <input
          type="text"
          class="order-form__input"
          name="name"
          id="name"
          placeholder="Your name"
          minlength="3"
          maxlength="25"
        />
        <div class="order-form__required">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="required-text">This field is required</span>
        </div>
        <div class="order-form__error">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="error-text"
            >The name must be between 3 and 25 characters</span
          >
        </div>
      </div>
      <div class="order-form__field">
        <label class="order-form__label" for="phone">Phone number</label>
        <input
          type="tel"
          class="order-form__input"
          name="phone"
          id="phone"
          placeholder="+38(0_ _) _ _ _   _ _   _ _"
        />
        <div class="order-form__required">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="required-text">This field is required</span>
        </div>
        <div class="order-form__error">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="error-text"
            >This phone must be in the format 099 000 00 00</span
          >
        </div>
      </div>
      <div class="order-form__field">
        <label class="order-form__label" for="email">E-mail</label>
        <input
          type="email"
          class="order-form__input"
          name="email"
          id="email"
          placeholder="example@gmail.com"
        />
        <div class="order-form__required">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="required-text">This field is required</span>
        </div>
        <div class="order-form__error">
          <svg class="warning__icon" width="12" height="12">
            <use href="./images/icons.svg#icon-warning"></use>
          </svg>
          <span class="error-text">Please enter a valid email address</span>
        </div>
      </div>
      <button type="submit" class="send-button">Send</button>
    </form>
  </div>
</div>
