<section class="offerings">
  <div class="container">
    <p>offerings</p>
    <!-- <picture>
      <source
        srcset="
          ./images/apple-desktop-1x.png 1x,
          ./images/apple-desktop-2x.png 2x
        "
        media="(min-width: 1200px)"
      />
      <source
        srcset="
          ./images/apple-tablet-1-1x.png 1x,
          ./images/apple-tablet-1-2x.png 2x,
          ./images/apple-tablet-2-1x.png 1x,
          ./images/apple-tablet-2-2x.png 2x,
          ./images/apple-tablet-3-1x.png 1x,
          ./images/apple-tablet-3-2x.png 2x
        "
        media="(min-width: 768px)"
      />
      <source
        srcset="
          ./images/apple-mobile-1x.png 1x,
          ./images/apple-mobile-2x.png 2x
        "
        media="(min-width: 320px)"
      />
      <img src="./images/apple-desktop-1x.png" alt="green apple" width="550" />
    </picture> -->
    <div>
      <h2 class="offerings-title">What’s Special About Our Offerings</h2>
      <p class="offerings-text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>

      <div>
        <ul>
          <li class="options">
            <h3 class="options-title">
              Fasest Delivery
              <p class="options-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
            </h3>
          </li>
          <li class="options">
            <h3 class="options-title">
              Easy to order
              <p class="options-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros.
              </p>
            </h3>
          </li>
        </ul>
      </div>
      <div>
        <button type="button" class="offerinfs-button">Order Now</button>
        <a href="">Read more</a>
      </div>
    </div>
  </div>
</section>
