<section class="section">
  <form class="test-form form-subscribe" action="">
    <!-- <div class="form-subscribe__wrap"> -->
    <input class="form-subscribe__input " type="text" minlength="3" maxlength="25" required placeholder="Your name" />
    <div class="form-subscribe__warning warning">
      <svg class="warning__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-warning"></use>
      </svg>
      <span class="warning-text">The name must be between 3 and 25 characters</span>
    </div>
    <!-- </div> -->
    <!-- <div class="form-subscribe__wrap"> -->
    <input class="form-subscribe__input" type="phone" placeholder="050 111 22 33" title="050 111 22 33"
      pattern="\d{3}[\s]\d{3}[\s]\d{2}[\s]\d{2}" value="0" required />
    <div class="form-subscribe__warning warning">
      <svg class="warning__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-warning"></use>
      </svg>
      <span class="warning-text">This phone must be in the format 099 000 00 00</span>
    </div>
    <!-- </div> -->
    <!-- <div class="form-subscribe__wrap"> -->
    <input class="form-subscribe__input from-subscribe" type="email" required placeholder="Enter your email" />
    <!-- <button class="form-subscribe__btn form-subscribe__btn--modal" type="submit"></button> -->
    <div class="form-subscribe__warning warning">
      <svg class="warning__icon" width="12" height="12">
        <use href="./images/icons.svg#icon-warning"></use>
      </svg>
      <span class="warning-text">Not a valid email address (example@email.com)</span>
    </div>
    <!-- <button class="form-subscribe__btn form-subscribe__btn--modal" type="submit"></button> -->
    <!-- </div> -->
    <button class="form-subscribe__btn form-subscribe__btn--modal" sss type="submit">
      Subscribe
    </button>
  </form>
</section>