$main-text-color: #2c2c2c;
$second-text-color: #000000;
$main-active-color: #BBF330;
$second-active-color: #B5FF00;
$third-active-color: #597D00;
$main-color: #7EB101;
$main-background-color: #fefefe;
$second-background-color: #FFE550;
$background-color: #ffffff;
$warning-color: #FF705D;
$animations: 250ms cubic-bezier(0.4, 0, 0.2, 1);