$main-text-color: #2c2c2c;
$second-text-color: #000000;

$main-active-color: #bbf330;
$second-active-color: #b5ff00;

$main-color: #7eb101;

$main-background-color: #fefefe;
$second-background-color: #ffe550;

$warning-color: #ff705d;
