.container {
    padding-top: 60px;
    padding-bottom: 60px;
    
    background-color: #FFE550;

    @media screen and (min-width: 768px) {
        width: 768px;
        padding-top: 60px;
        padding-bottom: 120px;
    }

    @media screen and (min-width: 1280px) {
        padding-top: 100px;
        padding-bottom: 200px;
    }

    &__text {
        margin-top: 20px;
        margin-bottom: 32px;
    }

    &__feedback {
        margin-top: 32px;
    }
}

.feedback {
    @media screen and (min-width: 768px) {
        display: flex;
    }

    @media screen and (min-width: 768px) and (max-width: 1279px) {
        margin: -16px;
    }
}

.feedback__item {
    width: 100%;
    min-height: 150px;
    padding: 8px;
    background-color: #ffffff;
    border-top-right-radius: 29px;
    border-bottom-right-radius: 29px;
    border-bottom-left-radius: 29px;

    &:not(:first-child) {
        @media screen and (max-width: 767px) {
            margin-top: 24px;
        }
    }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-direction: column;
        width: calc((100% - 2 * 16px) / 2);
        height: 244px;
        padding: 12px;
        margin: 16px;

        &:nth-last-child(-n + 2) {
            margin-bottom: 0px;
        }
    }

    @media screen and (min-width: 1280px) {
        width: 501px;
        height: 227px;
        padding: 14px;
        margin: 0px;

        &:not(:first-child) {
            @media screen and (min-width: 1280px) {
                margin-left: 139px;
            }
        }
    }
}

.feedback__rating {
    display: flex;
    width: 101px;
    height: 16px;
    justify-content: space-between;
}

.feedback__text {
    margin-top: 28px;

    @media screen and (min-width: 768px) {
        max-height: 84px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }
}

.feedback__contact {
    display: flex;
    min-width: 160px;
    height: 52px;
    align-items: center;
    margin-top: 40px;

    @media screen and (min-width: 768px) {
        margin-top: auto;
    }
}

.feedback__contact-wrap {
    margin-left: 16px;
}

// __________________________________________________________________

.feedback__rating-icon {
    background-color: red;
}

.feedback__contact-icon {
    background-color: red;
}