.favorites__section {
  background: #F5F5F5;
}

.favorites__conteiner {
  text-align: center;
}

.favorites__text {
  margin-bottom: 60px;
  margin-top: 20px;
}

.favorites__list {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
    margin: -16px;
  }
}

.favorites__items {
  padding: 18px;
  border: 11px solid #FFE550;
  border-radius: 50%;
  overflow: hidden;

  &:hover {
    border-color: $main-active-color;
  }

  & img {
    display: inline-block;
  }



  @media screen and (min-width: 768px) {
    width: calc((100% - 64px) / 2);
    margin: 16px;
  }

  @media screen and (min-width: 1280px) {
    width: calc((100% - 192px) / 3);
    margin: 16px;
  }
}

.favorites__items--hide {
  @media screen and (max-width: 767px) {
    display: none;
  }
}