.footer {
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer__top {
  margin-bottom: 60px;

  @media screen and (min-width: 768px) {
    margin-bottom: 100px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 80px;
    display: flex;
    align-items: flex-start;
  }
}

.footer__wrap {
  display: flex;
  align-items: flex-start;
  gap: 82px;
  @media screen and (max-width: 1279px) {
    margin-bottom: 40px;
  }
  @media screen and (min-width: 768px) {
    align-items: center;
    gap: 114px;
  }
  @media screen and (min-width: 1280px) {
    gap: 145px;
  }
}

.footer-nav__list {
  @media screen and (max-width: 767.5px) {
    gap: 20px;
  }
}

.footer-nav__link {
  padding: 0;
}

.footer-subscribe {
  margin-left: auto;
}

.footer-subscribe__capture {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 12px;
}

.footer-subscribe__privacy {
  font-size: 10px;
  line-height: 1.2;
  @media screen and(min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.footer-subscribe__privacy a {
  color: $main-color;
  text-decoration: underline;
}

// bottom
.footer__bottom {
  margin-bottom: auto;
}

.terms {
  @media screen and(min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.terms__list {
  display: flex;
  justify-content: center;
  gap: 35px;
  @media screen and (max-width: 767.5px) {
    margin-bottom: 38px;
    gap: 20px;
  }
  @media screen and (min-width: 768px) {
    gap: 20px;
  }
}

.terms__link {
  font-size: 10px;
  line-height: 1.2;
  text-decoration-line: underline;
  color: $main-color;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
}

.terms__copy {
  font-size: 10px;
  line-height: 1.2;
  text-align: center;
  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.17;
  }
}
