.header {
  // padding: 10px 20px;
  // display: flex;
  // justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;

  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);

  @media screen and (min-width: 768px) {}
}

.header__conteiner {
  position: relative;
  display: flex;
  align-items: center;
}

.header__nav {
  display: flex;
  margin-left: auto;
  align-items: center;

  // width: 100%;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.header__nav.is-open {
  display: block;
}

.header__button {
  margin-left: 28px;

  @media screen and (max-width: 767px) {
    display: none;
  }
}