.nav {
  // display: flex;


}

.nav__list {
  display: flex;
  gap: 28px;
  margin-left: auto;
}

.nav__item {

  &--current {
    color: $main-active-color;
  }
}

.nav__link {
  padding-top: 27px;
  padding-bottom: 27px;
}