.offerings {
  padding-top: 0;
  max-width: 1280px;
  background-repeat: no-repeat;
  background-size: 100%;
  background-image: url(../images/offerings/offerings-bg-mobile-1x.png);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: url(../images/offerings/offerings-bg-mobile-2x.png);
  }

  @media screen and (min-width: 768px) {
    margin-top: -108px;
    background-image: url(../images/offerings/offerings-bg-tablet-1x.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/offerings/offerings-bg-tablet-2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    margin-top: -160px;
    background-image: url(../images/offerings/offerings-bg-desktop-1x.png);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: url(../images/offerings/offerings-bg-desktop-2x.png);
    }
  }
}

.offerings__container {
  @media screen and (min-width: 1280px) {
    display: flex;
    gap: 90px;
  }
}

.offerings__thumb {
  @media screen and (max-width: 767px) {
    display: flex;
    justify-content: center;
    margin-top: 41px;
  }

  @media screen and (min-width: 768px) {
    margin-top: 150px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 177px;
  }
}

.offerings__content {
  padding-top: 60px;

  @media screen and (min-width: 1280px) {
    width: 573px;
    padding-top: 260px;
  }
}

.section__title {
  font-family: inherit;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    font-size: 42px;
    line-height: 1.17;
  }

  @media screen and (min-width: 1280px) {
    line-height: 1.2;
  }
}

.offerings__subject {
  margin-top: 28px;
  margin-bottom: 28px;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    width: 500px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: inherit;
    line-height: 1.19;
  }

  @media screen and (min-width: 1280px) {
    line-height: inherit;
  }
}

.offerings__info {
  font-family: inherit;
  font-weight: 400;
  font-size: 13px;
  line-height: inherit;
  color: var(--second-text-color);
}

.offerings__bottom {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  @media screen and (min-width: 1280px) {
    margin-top: 0;
  }
}

.offerings__button {
  @include button('offerings');
  font-weight: 500;
  font-size: 13px;
  line-height: inherit;
}

.offerings__list {
  margin-right: 28px;

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 116px;
  }

  @media screen and (min-width: 1280px) {
    gap: 67px;
  }
}

.offerings__item {
  margin-bottom: 28px;

  @media screen and (min-width: 768px) {
    width: 252px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 32px;
  }
}

.offerings__options {
  display: inline-block;
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  color: var(--main-text-color);
  margin-top: 8px;
  margin-bottom: 16px;

  @media screen and (min-width: 1280px) {
    font-size: 18px;
    line-height: 1.4;
  }
}

.offerings__text {
  display: inline-block;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-text-color);

  @media screen and (min-width: 768px) {
    margin-bottom: 0;
    width: 252px;
  }

  @media screen and (min-width: 1280px) {
    line-height: inherit;
  }
}

.offerings__cover {
  width: 83px;
  height: 34px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-left: 24px;

  @media screen and (min-width: 1280px) {
    display: none;
  }
}

.offerings__svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: #fff;
}